/* Layout styles for SkinCitizen
#catlinks {
	background-color: rgba(240, 248, 255, 0.8);
	padding: 1rem;
	border-radius: 0.5rem;
}
*/
blockquote {
	&:lang(ja),
	&:lang(ko),
	&:lang(mn),
	&:lang(zh) {
		font-style: normal !important;
	}

	@supports (text-wrap: pretty) {
		text-wrap: pretty;
	}

	cite {
		font-style: normal !important;
		font-size: var(--font-size-small, 0.875rem);
		line-height: var(--line-height-small, 1.4);
	}
}
